.container{
  font-family: Fontone;
  margin-top: 10px;
}

.button{
  background-color: hsl(0, 0%, 86%);
  border:none;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 5px;
}

table {
  border: 2px solid hsl(0, 0%, 86%);
  border-collapse: collapse;
  height: auto;
  width: 100%;
}
table th {
  border: 2px solid hsl(0, 0%, 86%)n;
  height: auto;
}
table td {
  border: 2px solid hsl(0, 0%, 86%);
  height: auto;
}
tbody:nth-child(even){background-color: #f2f2f2}
