<!-- <header>
  <nav>
    <p>GTFS EDİTOR</p>
  </nav>
</header> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div
      class="navbar-collapse justify-content-center"
      id="navbarCenteredExample"
      mdbCollapse>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
       <p> <a class="nav-link active" aria-current="page" routerLink="/">GTFS EDITOR</a></p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<router-outlet></router-outlet>

